html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: 'Lato', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #eee9de;
  text-align center;
  margin: 0;
}

h2 {
  display: inline-block;
  font-weight: bold;
  margin: 0 0 1.5rem;
}

a {
  display: inline;
  font-family: Lato, sans-serif;
  color: #333;
  text-decoration: none;
  border-color: #333;
  border: solid;
  padding: .4em .75em .5em;
  border-radius: none;
}

a:hover {
  display: inline block;
  color: #fff;
  background color: #666;
  border-color: #666;
}
